@rendermode InteractiveServer
@implements IDisposable
@inject MixVault_FrontEnd.Services.Userstate Userstate

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MixVault_FrontEnd</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/login">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/register">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> register
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="discover">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Discover
            </NavLink>
        </div>

        @if (Userstate.IsLoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@($"MixVault/{Userstate.UserID}")">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Mijn MixVault
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        // Abonneer het menu op wijzigingen: hertekenen zodra iemand inlogt of uitlogt
        Userstate.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        // Netjes opruimen als het menu verdwijnt
        Userstate.OnChange -= StateHasChanged;
    }
}
